<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Weather App</h1>
        <form method="post" action="/" class="mb-4">
            <div class="form-group">
                <label for="city">Enter City:</label>
                <input type="text" name="city" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Get Weather</button>
        </form>
        {% if weather_data %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Weather in {{ weather_data.city }}</h2>
                    <p class="card-text">Temperature: {{ weather_data.temperature }}°C</p>
                    <p class="card-text">Description: {{ weather_data.description }}</p>
                    <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Weather Icon" class="img-fluid">
                </div>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-pzjw8v+uhkz9K4PkYbTqVdEflPL70uCLaRZSeM2ebSxImdLXrZJflwJzcu1aaN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
